#formConnexion {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', serif;
    color: #333;
    margin-top: 40px;
}

form {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #4b95ae92;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn,
.btnLien {
    background-color: #2e97b9ab;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn,
.btnLien {
    background-color: #186681ab;
}

.btnLien {
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.btnVersInscription {
    display: flex;
    flex-direction: column;
    align-items: center;
}