@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body h1 {
    font-family: 'Oswald', sans-serif;
}