header ul {
    display: flex;
    list-style: none;
}

header a {
    text-decoration: none;
}

#droite a {
    padding-bottom: 3px;
}

#droite a:hover {
    border-bottom: 2px solid #4b95ae92;
}

header {
    display: flex;
    justify-content: space-between;
}

#droite ul {
    display: flex;
    justify-content: space-evenly;
}

#droite li {
    padding-right: 10px;
    padding-left: 10px;

}