#accueil {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.partie {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

body {
    font-style: montserrat classic;
}